@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* --------------yellow section--------------- */
.yellow{
    background-color: #FDD11E;
    height: 80vh;
}
.yellow h1{
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    color: #FFFFFB;
    padding-top: 80px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.yellow .cricle{
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #B19215;
    position: absolute;
    left: 46%;
}
.yellow .cricle p{
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    padding-top: 16px;
    color: #7D660F;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.yellow .box{
    position: absolute;
    top: 485px;
    left: 43%;
    width: 200px;
    height: 100px;
    background-color: #FDD11E;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 80%,
        50% 100%,
        0 80%
    );
}
/* -----------------pink section----------------- */
.pink{
    background-color: #FF555A;
    height: 20vh;
}